*{
    margin: 0;
    padding:0;
}
.container{
    color: black;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin-left: 20px;
    border: 1px rgb(0, 0, 0) solid;
    background-color: #999999;
    border-radius: 5px;
    font-family: "Heebo", sans-serif;
    color: white;
    padding: 5px 15px;
    margin-top: 10px;
  }
  .btn:hover{
    background-color: #287BB8;
    border-color: #999999;
  }
  .container label{
    display: block;
    padding-bottom: 5px;
  }
  .container div{
    margin-bottom: 10px;
  }
  .container input[type = "text"], .container textarea{
    border-radius: 5px;
    font-family: "Heebo", sans-serif;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
  }
  .container input[type = "file"]{
    padding: 5px;
  }
  .addDrugInfoSmall{
    width: 50px;
  }
  .addDrugInfoLarge{
    width: 400px;
  }

  .form {
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 3px rgb(180, 179, 179);
    margin: 10% 30%;
    border-radius: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form h1{
    font-size: 3vw;
    padding: 43px 10px 10px 10px;
    font-family: "Heebo", sans-serif;
    text-align: center;
  }
  .form h2{
    padding-left: 25px;
    font-family: "Heebo", sans-serif;
    text-align: left;
  }
  .myform{
    width: 90%;
    justify-content: center;

  }
  .myform input{
    justify-content: center;
    width: 100%;
    font-size: 1.5vw;
    font-family: "Rubik", sans-serif; 
    padding: 10px 10px;
    text-align: left;
    border: 1px rgb(111, 110, 110) solid;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .myform input:hover{
    background-color: #dcdcdc;
  }
  .myform input[type = "submit"]{
    background-color: #8AAAE5;
    border: none;
    text-align: center;
    color:#DFE9E2;
  }
  .myform input[type = "submit"]:hover{
    background-color: #287BB8;
    border: none;
    color: rgb(220, 240, 250);
  }
  .error{
    margin-top: 5px;
    padding-left: 30px; 
    font-size: 1vw;
    text-align: left;
    color: red;
  }
  .smallText{
    padding-top: 20px;
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 1.5vw;
    text-align: left;
  }
  .formGroup{
    padding-bottom: 20px;
    align-items: center;
  }
  .formGroup h4{
    color: black;
    font-size: 1vw;
    font-family: "Heebo", sans-serif;
  }
  .links{
    color:black;
    font-size: 1vw;
  }
  .links:hover{
    color:#8AAAE5;
  }

